<h2>List of Users</h2>

<div *ngIf="newUser" style="text-align: center">
  <h4>Add a new User!</h4>
  <input type="text" placeholder="first name" [(ngModel)]="newUser.firstName"><br />
  <input type="text" placeholder="last name" [(ngModel)]="newUser.lastName"><br />
  <input type="text" placeholder="username" [(ngModel)]="newUser.userName"><br />
  <input type="text" placeholder="email" [(ngModel)]="newUser.email"><br />
  <input type="text" placeholder="password" [(ngModel)]="newUser.password"><br />
 </div>

<p>New User to send {{newUser| json}}</p>
<button (click)="addUser()">Add User</button>

<div *ngIf="users" class="user_container"> 
  <div *ngFor="let user of users" class="user"> 
    <h3>First Name: {{user.firstName}}</h3>
    <h3>Last Name: {{user.lastName}}</h3>
    <h3>Username: {{user.userName}}</h3>
    <h3>Email: {{user.email}}</h3>
    <button (click)="showEditDiv(user)">Edit User</button>
    <div *ngIf="user.showEditForm">
      {{user.showEditForm}}
      <input type="text" placeholder="first name" [(ngModel)]="user.firstName"><br />
      <input type="text" placeholder="last name" [(ngModel)]="user.lastName"><br />
      <input type="text" placeholder="username" [(ngModel)]="user.userName"><br />
      <input type="text" placeholder="email" [(ngModel)]="user.email"><br />
      <input type="text" placeholder="password" [(ngModel)]="user.password"><br />
      <button (click)="editUser(user, user.id)">Submit Edit</button> 

    </div> 
    <br />
    <br />
    <br />
    <button (click)="deleteUser(user.id, user, this)">Delete </button>
  </div>

</div>

